html {
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
    font-size: 12px;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
    line-height: 1.5;
}

h1 {
    margin: 1em auto;
}

a {
    text-decoration: none;
    color: pink;
    font-weight: 700;
}

span.red {
    color: red;
    font-weight: 700;
}

span.blue {
    color: blue;
    font-weight: 700;
}

span.pink {
    color: pink;
}

.button {
    width: 90px;
    height: 35px;
    border-radius: 5px;
    padding: 5px;
    margin: 0 auto;

    cursor: pointer;
    text-align: center;

    background-color: red;
    font-size: 13px;
    color: black;
}

.game-board {
    width: 600px;
	height: 600px;
	margin: 0 auto;
    background-color: #34495e;
    color: #fff;
    border: 6px solid #2c3e50;
    border-radius: 10px;
	display: grid;
	grid-template: repeat(3, 1fr) / repeat(3, 1fr);

}

.tile {
    height: 100px;
    width: 100px;
    display: inline-block;
    cursor: pointer;

    position: relative;
    vertical-align: top;

    padding: 15px;
    margin-bottom: 5px;
    box-sizing: border-box;

    color: #fff;
    font-size: 60px;
    text-align: center;
}

.free {
    background-color: blueviolet;
}


.O-play {
    background-color: black;
}

.X-play {
    background-color: red;
}

